<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="index :: head"></head>
<body>
<nav th:replace="index :: navbar"></nav>
<div class="container">

    <div th:if="${param.success != null}" class="alert alert-success">
        <b th:text="#{congratulations} + '!'"></b>
        <span th:text="#{additem.success}"></span>
    </div>

    <select class="form-control" id="search-select-item">
        <option selected="selected"></option>
    </select>

    <div class="page-header">
        <h2>Add item form</h2>
    </div>
    <form th:object="${newTradeItemForm}" method="post" th:action="@{/addItem}">
        <div class="form-group">
            <input id="title" type="hidden" th:field="*{title}"/>
            <input id="imageUrl" type="hidden" th:field="*{imageUrl}"/>

            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <img id="form-image" th:src="@{/img/no-img.png}"/>
            </div>

        </div>
        <div class="form-group">
            <label class="control-label col-sm-2"></label>

            <div class="col-sm-10">
                <h2 id="game-form-title-text" class="form-control-static" th:text="${newTradeItemForm.title == null} ? #{addItem.pleaseChoose} : ${newTradeItemForm.title}"></h2>
                <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Description: </label>

            <div class="col-sm-10">
                <textarea class="form-control col-sm-10" cols="10" th:field="*{description}"
                          title="Description"></textarea>
                <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <input type="submit" class="btn btn-default" value="Confirm"/>
            </div>
        </div>
    </form>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>
<script type="text/javascript">
    $("#search-select-item").select2({
        id: function (item) {
            return item.bggId;
        },
        ajax: {
            url: "/search",
            dataType: 'json',
            delay: 250,
            data: function (params) {
                return {
                    title: params.term
                };
            },
            processResults: function (data) {
                return {
                    results: data.items
                };
            },
            cache: true
        },
        minimumInputLength: 3,
        templateResult: templateResult,
        templateSelection: function (item) {
            return item.text;
        }
    });

    $("#search-select-item").on("select2:select", function (e) {
        $('#imageUrl').val(e.params.data.thumbnailUrl);
        $('#title').val(e.params.data.title);
        $('#game-form-title-text').text(e.params.data.title);
        $('#game-form-bggId').attr({value: e.params.data.bggId});
        $('#form-image').attr('src', e.params.data.thumbnailUrl);
    });

    function templateResult(item) {
        if (item.loading) return item.text;

        return $('<div/>').attr({class: 'media'})
                .append($('<div/>').attr({class: 'media-left'})
                        .append($('<a/>').attr({href: '#'})
                                .append($('<img/>').attr({src: item.thumbnailUrl, width: 100}))))
                .append($('<div/>').attr({class: 'media-body'})
                        .append($('<h3/>').attr({class: 'media-heading'}).text(item.title)))
    }
</script>
</body>
</html>