<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="index :: head"></head>
<body>
<nav th:replace="index :: navbar"></nav>
<div class="container">

    <div th:if="${param.success != null}" class="alert alert-success">
        <b th:text="#{congratulations} + '!'"></b>
        <span th:text="#{additem.success}"></span>
    </div>


    <div class="page-header">
        <h2>Add item form</h2>
    </div>
    <form class="form-horizontal" th:object="${newTradeItemForm}" method="post" th:action="@{/addItem}">
        <div class="form-group">
            <input id="title" type="hidden" th:field="*{title}"/>
            <input id="imageUrl" type="hidden" th:field="*{imageUrl}"/>
            <input id="game-form-bggId" type="hidden" th:field="*{bggId}"/>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Title: </label>

            <div class="col-sm-10">
                <input class="form-control" id="game-form-title-text" type="text" placeholder="Item Title..."
                       onchange="updateTitle()"
                       th:value="${newTradeItemForm.title == null} ? '' : ${newTradeItemForm.title}"/>
                <!--<h2 id="game-form-title-text" class="form-control-static"-->
                <!--th:text="${newTradeItemForm.title == null} ? #{addItem.pleaseChoose} : ${newTradeItemForm.title}"></h2>-->

                <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Description: </label>

            <div class="col-sm-10">
                <textarea class="form-control col-sm-10" cols="10" th:field="*{description}"
                          title="Description" placeholder="Item description..."></textarea>

                <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Miniature: </label>

            <div class="col-sm-8">
                <input class="form-control" id="imageUrlText" type="text" placeholder="Image URL..."
                       onchange="updateThumbnail()" th:value="${newTradeItemForm.imageUrl == null} ? '' : ${newTradeItemForm.imageUrl}"/>
            </div>
            <img class="col-sm-2" id="form-image" th:src="@{/img/no-thumb.jpg}" onerror="imageError(this)"/>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Category: </label>

            <div class="col-sm-10">
                <select id="categorySelect" th:field="*{category}" class="form-control" onchange="categorySelector()">
                    <option th:each="category : ${T(trade.math.model.TradeItemCategory).values()}" th:text="${category}"
                            th:value="${category}"/>
                </select>
            </div>
        </div>
        <div class="collapse" id="boardGameDataCollapse">
            <div class="form-group">
                <label class="control-label col-sm-2">Board game: </label>

                <div class="col-sm-10">
                    <select class="form-control" id="search-select-item" style="width: 100%">
                        <option selected="selected"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Board Game Geek ID: </label>

                <div class="col-sm-10">
                    <span id="bgg-id"
                          th:text="${newTradeItemForm.bggId == null} ? '-1' : ${newTradeItemForm.bggId}">-1</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <input type="submit" class="btn btn-default" value="Confirm"/>
            </div>
        </div>
    </form>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>
<script type="text/javascript">
    var noThumbURL = $('#form-image').attr('src');

    categorySelector();
    updateThumbnail();

    $("#search-select-item").select2({
        id: function (item) {
            return item.bggId;
        },
        ajax: {
            url: "/search",
            dataType: 'json',
            delay: 250,
            data: function (params) {
                return {
                    title: params.term
                };
            },
            processResults: function (data) {
                return {
                    results: data.items
                };
            },
            cache: true
        },
        minimumInputLength: 3,
        templateResult: templateResult,
        templateSelection: function (item) {
            return item.text;
        }
    });

    $("#search-select-item").on("select2:select", function (e) {
        $('#imageUrl').val(e.params.data.thumbnailUrl);
        $('#imageUrlText').val(e.params.data.thumbnailUrl);
        $('#title').val(e.params.data.title);
        $('#game-form-title-text').val(e.params.data.title);
        $('#bgg-id').text(e.params.data.bggId);
        $('#game-form-bggId').val(e.params.data.bggId);
        $('#form-image').attr('src', e.params.data.thumbnailUrl);
    });

    function templateResult(item) {
        if (item.loading) return item.text;

        return $('<div/>').attr({class: 'media'})
                .append($('<div/>').attr({class: 'media-left'})
                        .append($('<a/>').attr({href: '#'})
                                .append($('<img/>').attr({src: item.thumbnailUrl, width: 100}))))
                .append($('<div/>').attr({class: 'media-body'})
                        .append($('<h3/>').attr({class: 'media-heading'}).text(item.title)))
    }

    function categorySelector() {
        if ($('#categorySelect').val() == "BOARD_GAME") {
            $('#boardGameDataCollapse').show();
            $('#imageUrlText').attr('disabled', true);
            $('#game-form-title-text').attr('disabled', true);
        }
        else {
            $('#boardGameDataCollapse').hide();
            $('#imageUrlText').attr('disabled', false);
            $('#game-form-title-text').attr('disabled', false);
        }
    }

    function updateThumbnail() {
        var url = $('#imageUrlText').val();
        if (url.lastIndexOf('http://') !== 0) {
            url = 'http://' + url;
        }
        $('#form-image').attr('src', url);
        $('#imageUrl').val(url);
    }

    function imageError(image) {
        image.src = noThumbURL;
        $('#imageUrl').val("");
        return true;
    }

    function updateTitle() {
        if ($('#categorySelect').val() != "BOARD_GAME") {
            $('#title').val($('#game-form-title-text').val());
        }
    }

</script>
</body>
</html>