<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Welcome to math trade</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<nav class="navbar navbar-default" th:fragment="navbar">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}">Math Trade</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li sec:authorize="hasRole('ROLE_USER')"><a th:href="@{/addItem}">Add item</a></li>
                <li sec:authorize="not isAuthenticated()"><a th:href="@{/signUp}">Sign up</a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Admin <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Generate dummy list</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Trade</a></li>
                    </ul>
                </li>
            </ul>
            <!--
                        <form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search for game"/>
                            </div>
                            <button type="submit" class="btn btn-default">Search</button>
                        </form>
            -->
            <ul class="nav navbar-nav navbar-right">
                <div sec:authorize="not isAuthenticated()">
                    <form class="navbar-form navbar-right" role="form" th:action="@{/login}" method="post">
                        <div class="form-group">
                            <input name="username" type="text" class="form-control" placeholder="Username"/>
                        </div>
                        <div class="form-group">
                            <input name="password" type="password" class="form-control" placeholder="Password"/>
                        </div>
                        <button id="signin-submit" class="btn btn-success">Sign in</button>
                    </form>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <form class="navbar-form navbar-right" role="form" th:action="@{/logout}" method="post">
                        <input id="signout-submit" type="submit" class="btn btn-danger" value="Sign out"/>
                    </form>
                </div>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div class="container">
    <div class="statusInfo"></div>
    <nav th:fragment="pagination">
        <ul class="pagination">
            <li th:class="${mainList.actualPage > mainList.pagination[0]} ? '' : 'disabled'">
                <a href="#"
                   th:href="'?page='+(${mainList.actualPage > mainList.pagination[0]} ? ${mainList.actualPage - 1} : ${mainList.actualPage} )"
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li
                    th:each="page : ${mainList.pagination}"
                    th:if="${page>0}"
                    th:class="${page == mainList.actualPage} ? 'active' : ''">
                <a th:href="'?page=' + ${page}" href="#"
                   th:text="${page}">1</a>
            </li>
            <li th:class="${mainList.actualPage >= mainList.pageCount} ? 'disabled' : ''">
                <a href="#"
                   th:href="'?page='+(${mainList.actualPage >= mainList.pageCount} ? ${mainList.actualPage} : ${mainList.actualPage + 1})"

                   aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    <div th:each="item : ${mainList.items}" class="panel panel-default">
        <div class="panel-heading">
            <h2 th:text="${item.title}" class="panel-title">
                Game title
            </h2>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                    <a href="#" class="thumbnail">
                        <img th:src="${item.imgUrl} ? ${item.imgUrl} : '../img/logo.png'" alt="game image" width="150"
                             height="150"/>
                    </a>
                </div>
                <div class="col-md-9">
                    <samp th:text="${item.description}">
                        Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym.
                        Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej
                        książki. Pięć wieków później zaczął być używany przemyśle elektronicznym, pozostając praktycznie
                        niezmienionym. Spopularyzował się w latach 60. XX w. wraz z publikacją arkuszy Letrasetu,
                        zawierających fragmenty Lorem Ipsum, a ostatnio. Lorem Ipsum jest tekstem stosowanym jako
                        przykładowy wypełniacz w przemyśle poligraficznym. Został po raz.
                    </samp>
                </div>
                <!--character count limit -->
            </div>
            <div class="row">
                <div class="col-md-9">
                </div>
                <div class="col-md-3">
                    <!--<form action="/deleteItem" method="post">
                        <input type="hidden" value="-1" th:value="${item.id}" name="deleteId" />-->
                    <button type="button" class="btn btn-danger pull-right" data-toggle="modal"
                            data-target="#deleteModalConfirm" th:attr="data-target='#deleteModalConfirm_' + ${item.id}">
                        Delete
                    </button>
                    <!--</form>-->
                    <!--admin only or user own game-->
                </div>
                <!-- Modal ask -->
                <div class="modal fade" id="deleteModalConfirm" th:id="'deleteModalConfirm_' + ${item.id}" tabindex="-1"
                     role="dialog"
                     aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel" th:text="#{deleteTitle}">Delete</h4>
                            </div>
                            <div class="modal-body" th:text="#{deleteQuestion(${item.title})}">

                            </div>
                            <div class="modal-footer">
                                <!--<form action="/deleteItem" method="post">-->
                                <button type="button" class="btn btn-default" data-dismiss="modal"
                                        th:text="#{cancel}">
                                    Close
                                </button>
                                <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                <input type="hidden" value="-1" th:value="${item.id}" name="deleteId"/>-->
                                <button type="button" th:id="${item.id}" class="btn btn-primary deleteConfirmButton"
                                        th:text="#{deleteConfirm}">Confirm
                                </button>
                                <!--</form>-->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end modal-->
            </div>
        </div>
    </div>
    <nav th:replace="index :: pagination"></nav>
</div>
</body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script th:inline="javascript">
    $(document).ready(function () {
        $(".deleteConfirmButton").click(function () {
                    $.post(
                            "/deleteItem", {
                                deleteId: $(this).attr("id"),
                                    [[${_csrf.parameterName}]]
                    :
                    [[${_csrf.token}]]
                },
                function (status) {
                    sessionStorage.setItem('deleteStatus', status);
                    location.reload();
                });
    });

    if(sessionStorage.getItem('deleteStatus') == "success")
        $(".statusInfo").append('<div class="alert alert-success" role="alert">' + [[#{deleteSuccess}]] + '</div>');
    else if(sessionStorage.getItem('deleteStatus') == "failure")
        $(".statusInfo").append('<div class="alert alert-danger" role="alert">' + [[#{deleteFailure}]] + '</div>');
    sessionStorage.setItem('deleteStatus', '');
    });
</script>
</html>